<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bill">
<!-- 회원가입 -->
<insert id="join" parameterType="Customer">
	insert into customer(cust_email, cust_password, cust_nickname, cust_address, cust_birthday,	cust_gender, cust_target_price) 
	values (#{cust_email}, #{cust_password}, #{cust_nickname}, #{cust_address}, #{cust_birthday}, #{cust_gender}, #{cust_target_price, jdbcType=VARCHAR})
</insert>

<!-- 외식 카테고리 찾기 -->
<select id="searchRestaurant" parameterType="String" resultType="String">
	select nvl(sub_category_num, 'null') 
	from sub_category 
	where category_num = 'L01' and 
		  sub_category_name = #{keyword}
</select>

<!-- 외식 카테고리 입력에 필요한 값 -->
<select id="countRestaurant" resultType="int">
	select count(*) 
	from sub_category 
	where category_num = 'L01';
</select>

<!-- 외식 카테고리 항목 추가 -->
<select id="insertRestaurant" parameterType="hashmap">
	insert into sub_category values (#{category_num}, #{sub_category_num}, #{sub_category_name})
</select>

<!-- 아이템 카테고리 검색 -->
<select id="searchItem" parameterType="String" resultType="String">
	select sub_category_num from category_data where minimum_category = #{keyword}
</select>
</mapper>
