<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stat">

	<select id="allSelect" resultType="hashmap" parameterType="Comparison">

		select m.CATEGORY_NAME category ,(select (sum(i.price)) from
		item i,
		bill b, customer c
		where substr(i.category,1,3) like m.category_num
		and
		i.billno = b.billno
		and c.cust_email = i.customerid
		and i.CUSTOMERID =
		#{id}
		and b.billdate > (sysdate -30)

		) self
		<if test="count != 0">
			, round((select (sum(i.price)) from item i,
			bill
			b, customer c where
			substr(i.category,1,3) like m.category_num and
			i.billno = b.billno and
			c.cust_email = i.customerid and 
			b.billdate > (sysdate -30)

			<if test="!gender.equals('all')">
				and c.CUST_GENDER = #{gender}
			</if>
			<if test="!age.equals('all')">
		<![CDATA[
		   and #{age} <= TRUNC(MONTHS_BETWEEN(SYSDATE, c.cust_birthday) / 12) 
		]]>
				<if test="!age.equals('60')">		
		<![CDATA[
		  and TRUNC(MONTHS_BETWEEN(SYSDATE, c.cust_birthday) / 12) <  #{age} + 10
		 ]]>
				</if>
			</if>
			<if test="!address.equals('all')">
				and c.cust_address like '${address}%' </if>

			) / #{count}) average
		</if>
		from major_category m


	</select>

	<select id="getCount" resultType="int" parameterType="Comparison">

		select COUNT(*) from customer c where c.cust_activity = 'T'

		<if test="!gender.equals('all')">
			and c.CUST_GENDER = #{gender}
		</if>
		<if test="!age.equals('all')">
		<![CDATA[
		   and #{age} <= TRUNC(MONTHS_BETWEEN(SYSDATE, c.cust_birthday) / 12) 
		]]>
			<if test="!age.equals('60')">		
		<![CDATA[
		  and TRUNC(MONTHS_BETWEEN(SYSDATE, c.cust_birthday) / 12) <  #{age} + 10
		 ]]>
			</if>
		</if>
		<if test="!address.equals('all')">
			and c.cust_address like '${address}%' </if>

	</select>



</mapper>
